<!DOCTYPE html>
<html lang='en-us'>

<head>
    <meta charset='UTF-8' name='viewport' content="width=device-width, initial-scale=1.0">
    <title>
        Missions to Mars
    </title>
    <link rel='stylesheet' href='./style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class='col-12 text-center bg-dark text-white'>
        <h1>Missions to Mars!</h1>
        <a href="/scrape"><button type="button" class="btn btn-outline-primary">Scrape New Data!</button></a>
    </div>
    <div class='col-12'>
        <h2>Latest Mars News!</h2>
        <br>
        <h3>{{ data.title }}</h3>
        <p>{{ data.paragraph }}</p>
    </div>
    <div class='col-7'>
        <h3>Featured Mars Image</h3>
        <img class="img-fluid" src='{{ data.featured_image_url }}'>
    </div>
    <div class='col-5'>
        <h3>Mars Facts</h3>
        <div>{{ data.mars_facts_html|safe }}</div>
    </div>
    <div class='col-12 text-center'>
        <h3>Mars Hemispheres</h3>
        {% for i in data.hemisphere_image_urls %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ i.img_url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>